<h1><%= @user.name %>のページ</h1>
<h1>レシピ一覧</h1>

<table style="width:1200px; border:3px solid">
  <thead>
    <tr>
      <th style="width:200px;">名前</th>
      <th style="width:200px;">時間</th>
      <th style="width:600px;">概要</th>
      <th style="width:100px"></th>
      <th style="width:100px"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td style="border:2px solid"><%= recipe.name %></td>
        <td style="border:2px solid"><%= recipe.cooktime %></td>
        <td style="border:2px solid"><%= recipe.summary %></td>
        <td style="border:2px solid"><%= link_to '確認', recipe_path(recipe.id) %></td>
        <td style="border:2px solid"><%= link_to '削除', user_path(user_id: @user.id,recipe_id: recipe.id), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @recipes %>
